<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>About</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Er. Vivek Mathur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>


      </ul>

    </div>
  </nav>

  <br>

  <nav class="navbar navbar-light" style="background-color: #ddeeff;">
    <span class="navbar-brand mb-0 h1">Experience</span>
  </nav>

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Ignitus</h5>
        <h6>Machine Learning Engineer & Web Developer</h6>
      </div>
      <p class="mb-1">Ignitus is a non profit organization which provide top quality research and internships to
        students. I am working there as a Machine learning engineer & Web developer on their
        LMS(Learning Management System) project and handling all duties related to the same.</p>
    </a>


    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">KS Technological Solutions</h5>
        <h6>Web Developer</h6>
      </div>
      <p class="mb-1">I am working there as a full stack web developer and working on some Data Science
        projects also. I created a blog website for them . It was a Work from Home internship.</p>
    </a>

    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Datum Guy</h5>
        <h6>Data Science Content Writer</h6>
      </div>
      <p class="mb-1">Datum Guy helps you apply your knowledge of ML Algorithms to create Machine Learning
        Powered Applications.</p>
    </a>


    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Tripshire</h5>
        <h6>Front End Web Developer</h6>
      </div>
      <p class="mb-1">TripShire is an experiential trips company that enables travellers to discover experiential
        trips and destinations. TripShire lets you explore itineraries that can only be put together
        by an insider or a travel consultant at the comfort of your laptop or phone. I am working
        there as a full stack web developer.</p>
    </a>


    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Delhi Technological University</h5>
        <h6>CAMPUS AMBASSADOR</h6>
      </div>
      <p class="mb-1">Worked as a Campus Ambassador promoting various events of Delhi Technical University.</p>
    </a>
  </div>

  <br>

<nav class="navbar navbar-light" style="background-color: #ddeeff;">
    <span class="navbar-brand mb-0 h1">Certifications</span>
  </nav>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Fundamentals of Digital Marketing</h5>
          <p class="card-text">Google</p>
          
        </div>
      </div>
    </div>


    
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Artificial Intelligence</h5>
          <p class="card-text">Accenture</p>
          
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text">Internshala</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text">Eduonix Learning Solutions</p>
          
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Web Designning</h5>
          <p class="card-text">Udemy</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">JavaScript</h5>
          <p class="card-text">Udemy</p>
          
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Python</h5>
          <p class="card-text">Integration EduTech Pvt Ltd</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">R prpogramming</h5>
          <p class="card-text">Udemy</p>
          
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Java</h5>
          <p class="card-text">IIT Bombay</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Java</h5>
          <p class="card-text">Udemy</p>
          
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Career Edge - Knockdown the Lockdown</h5>
          <p class="card-text">TCS iON</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Workshop on Machine Learning using Python</h5>
          <p class="card-text">IIT Kanpur</p>
          
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Workshop on Artificial Intelligence and Machine Learning</h5>
          <p class="card-text">Goeduhub</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Workshop On Ethical Hacking</h5>
          <p class="card-text">IIT Kanpur</p>
        </div>
      </div>
    </div>
  </div>


  



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>







